<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>김현진 포트폴리오 | Resume</title>
    <link rel="stylesheet" href="../resources/css/global.css">
    <link rel="stylesheet" href="../resources/css/resume.css">
    <script type="module" src="../resources/js/main.js"></script>
</head>

<body>
    <div class="container">
        <nav>
            <div class="nav-brand">My Portfolio</div>
            <div class="nav-links">
                <a href="../index.html">About</a>
                <a href="projects.html">Projects</a>
                <a href="devlog.html">Devlog</a>
                <a href="resume.html" class="active">Resume</a>
                <a href="contact.html">Contact</a>
            </div>
        </nav>
        <div id="resume-section" style="max-width: 800px;">
            <h1>Work Experience</h1>
            <div id="work-list"></div>
            <br><br>
            <h1>Education</h1>
            <div id="edu-timeline"></div>
            <br><br>
            <h1>Certifications</h1>
            <div id="cert-list"></div>
        </div>
    </div>
</body>

</html>